@import url('./fonts.css');

:root {
    --whire-backgraund-primary: #ffffff;
    --stroke-grey: #b0b0b0;
    --text-black: #000000;
    --button-purple: #bf00bf;
    --button-purple-active: #800080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body.no-scroll {
    overflow: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


