
.service-card {
    display: flex;
    gap: 40px;
    align-items: center;
}
.service-card__image {
    border-radius: 12px;
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.service-card__content {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    gap: 40px;
}

.service-card__description {
    font-size: 28px;
    max-width: 728px;
    line-height: 140%;
}
.service-card__price {
    font-size: 36px;
    line-height: 140%;
}

@media (max-width: 1300px) {

    .service-card__image {
        width: 400px;
        height: 250px;
    }

    .service-card__description {
        font-size: 22px;
    }
    .service-card__price {
        font-size: 28px;
    }
}

@media (max-width: 1050px) {

    .service-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .service-card__image {
        width: 100%;
    }

    .service-card__description {
        font-size: 18px;
        width: 100%;
        max-width: 100%;
    }
    .service-card__price {
        font-size: 24px;
    }
}


@media (max-width: 768px) {
    .service-card__image {
        width: 100%;
        height: 100%;
        max-height: 200px;
    }

    .service-card__content {
        gap: 5px;
        width: 100%;
    }

    .service-card__description {
        font-size: 16px;
        max-width: 728px;
    }

    .service-card__price {
        font-size: 22px;
    }

}