.title-price-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.title-price-list__decor {
    background: #d4af37;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.title-price-list__text {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 600;
}



@media (max-width: 768px) {
    .title-price-list {
        gap: 20px;
    }

    .title-price-list__text {
        font-size: 28px;
    }

    .title-price-list__decor {
        width: 10px;
        height: 10px;
    }

}