.contact-container {
    background: #ffffff;
    border-radius: 12px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 51px;
    flex-shrink: 0;
    transform: translate(0, -50%);
    align-items: center;
    width: auto;
    max-width: 550px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-location {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.location-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.location-name {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: 1px;
    font-weight: 500;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-item{
    display: flex;
    gap: 5px;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}
.contact-label {
    font-weight: 600;
    line-height: 160%;
}
.contact-value {
    font-weight: 400;
    line-height: 160%;
}


@media (max-width: 768px) {

    .contact-container {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        gap: 10px;
        padding: 0 0 20px;
    }

    .contact-content {
        gap: 10px;
    }

    .location-image {
        width: 40px;
        height: 40px;
    }

    .location-name {
        font-size: 16px;
    }

    .contact-label {
        font-size: 15px;
    }
    .contact-value {
        font-size: 14px;
    }


}