
.interior {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1760px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.interior-list {
    position: relative;
    width: 100%;
}

.interior .swiper-slide {
   width: 500px;
    height: 500px;
}

.interior-img {
    width: 100%;
    height: 100%;
}
.interior .swiper-slide-active {
    display: flex;
    align-items: center;
    justify-content: center;
}
.interior .swiper-slide-active .interior-img{
    width: 574px;
    height: 422px;
}

@media (max-width: 1230px) {
    .interior .swiper-slide {
        width: 400px;
        height: 400px;
    }

    .interior .swiper-slide-active .interior-img {
        width: 459px;
        height: 337px;
    }

}

@media (max-width: 768px) {


    .interior {
        margin: 10px;
        margin-bottom: 40px;
        gap: 20px;
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
    }
    .interior .swiper-slide {
        width: 170px;
        height: 140px;
        border-radius: 20px;
    }
    .interior .swiper-slide .interior-img{
        border-radius: 20px;
    }
    .interior .swiper-slide-active{
        width: 170px;
        height: 168px;
    }

    .interior .swiper-slide-active .interior-img{
        width: 170px;
        height: 168px;
    }

}