.social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
.social_item {
    width: 50px;
    height: 50px;
    overflow: visible;
}


@media (max-width: 1550px) {
    .social {
        gap: 10px;
    }

    .social_item {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 700px) {
    .social_item {
        width: 25px;
        height: 25px;
    }

}