
.swiper-button-next:after, .swiper-button-prev:after {
    display: none;
}

.swiper-button-prev.arrow .icon-arrow {
    transform: rotate(180deg);
}

.arrow {
    background: #ffffff;
    border-radius: 12px;
    padding: 10px;
    width: 100px!important;
    height: 100px!important;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0!important;

}

.icon-arrow {
    width: 80px;
    height: 80px;
}


@media (max-width: 1230px) {
    .arrow {
        padding: 5px;
        width: 50px!important;
        height: 50px!important;
    }

    .icon-arrow {
        width: 40px;
        height: 40px;
    }

}

@media (max-width: 768px) {
    .arrow {
        border-radius: 6px;
        padding: 5px;
        width: 30px!important;
        height: 30px!important;
    }

    .icon-arrow {
        width: 20px;
        height: 20px;
    }

}