
.employee-card {
    background: var(--whire-backgraund-primary);
    border-radius: 12px;
    border-style: solid;
    border-color: var(--stroke-grey);
    border-width: 1px;
    display: flex;
    position: relative;
}
.employee-card__image {
    border-radius: 12px;
    height: 507px;
    object-fit: cover;
}
.employee-card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    border-radius: 0px 0px 12px 12px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.employee-card__wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.employee-card__name {
    color: var(--text-black);
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    font-weight: 700;
}


.employee-card__text {
    color: var(--text-black);
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 1px;
    font-weight: 500;
}


@media (max-width: 768px) {
    .employee-card__name {
        font-size: 16px;
    }
    .employee-card__text {
        font-size: 14px;
    }

    .employee-card__image {
        height: 300px;
        width: 220px;
    }

    .employee-card__content {
        padding: 10px 4px;
        gap: 20px;
    }
}