.button-container {
  background: #782f61;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.button-text {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
}


@media (max-width: 700px) {
  .button-container {
    padding: 15px 20px;
  }

  .button-text {
    font-size: 16px;
  }
}