

.filter-item {
    border-style: solid;
    border-color: var(--button-purple);
    border-width: 1px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 327px;
    cursor: pointer;
}

.filter-text {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 140%;
    font-weight: 500;
}


.filter-item:first-child {
    border-radius: 0 12px 0 0;
}

.filter-item:last-child {
    border-radius: 0 0 12px 0;
}

.filter-item.active {
    background: var(--button-purple-active);
    border-radius: 12px;
}

.filter-item.active .filter-text {
    font-weight: 600;
}

@media (max-width: 1500px) {

    .filter-item {
        padding: 15px 30px;
        width: 100%;
        cursor: pointer;
    }
    .filter-text {
        font-size: 18px;
    }

}


@media (max-width: 768px) {
    .filter-bar {
        display: none;
    }

}

