.block-title {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 600;
  align-self: stretch;
}

@media (max-width: 768px) {
  .block-title {
    font-size: 20px;
  }
}