
.employees {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: 80px;
    margin-left: 80px;
    max-width: 1840px;
}

.employees__list {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 1800px) {
    .employees {
        margin-left: 0;
    }
}

@media (max-width: 768px) {

    .employees {
        gap: 20px;
        margin: 10px;
        margin-bottom: 40px;
    }

    .employees .swiper-slide {
        margin-right: 20px!important;
    }
}