.banner {
    background-image: url('/img/banner/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    height: 952px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.banner-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    color: #ffffff;
    text-align: left;
    font-family: "CormorantGaramond", sans-serif;
    font-size: 70px;
    line-height: 140%;
    font-weight: 600;
    display: flex;
}

.title-divider {
    margin-top: -1px;
    border-style: solid;
    border-color: #f1d89d;
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 370px;
    height: 0;
}

.banner-description {
    color: #ffffff;
    font-family: "MuseoModerno", sans-serif;
    font-size: 32px;
    line-height: 140%;
    font-weight: 500;
    text-align: center;
}


@media (max-width: 850px) {
    .banner-description {
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .banner {
        background-image: url('/img/banner/background-mobile.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 750px;
        flex-shrink: 0;
        align-self: stretch;
        padding: 75px 0;
        gap: 10px;
    }

    .banner-title-wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .banner-description {
        font-size: 16px;
        color: var(--global-color);
    }


    .banner-title  {
        font-size: 25px;
        color: var(--global-color);
    }

    .title-divider {
        border-color: #865946;
        width: 100%;
    }
}